/**
 * Regola CSS per impostare il peso del carattere a 400 e utilizzare il font 'Poppins' come font principale per l'intera pagina.
 */
html, body {
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif !important;
}

/**
 * Regola CSS per definire il colore principale utilizzato nel design come colore primario.
 */
.primary-color {
    color: #4e51fd;
}

/**
 * Regola CSS per lo stile del pulsante primario.
 */
.btn-sz-primary {
    width: 100%;
    color: white !important;
    background-color: #4e51fd;
}

/**
 * Regola CSS per lo stato hover del pulsante primario.
 */
.btn-sz-primary:hover {
    background-color: #3c3ff8;
}

/**
 * Regola CSS per lo stile del testo principale.
 */
.main-text {
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 3px;
}

/**
 * Regola CSS per lo stile dell'input principale.
 */
.main-input {
    width: 80%;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #4e51fd !important;
}
